<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Count Up</title>
		<script type="text/javascript">
			//	scに入力された値を消すファンクション
		function reset(){
			document.getElementById("sc").value="";
		}
function ppd() {
	//	必ずscにカーソルを合わせる。
	document.form1.sc.focus();
	//	scから入力されたスコアを取得する
	var score =  document.getElementById("sc").value;
	//	全角数字を半角数字へ置換する
	var char1 = new Array("１","２","３","４","５","６","７","８","９","０");
	var char2 = new Array(1,2,3,4,5,6,7,8,9,0);
	var count;
	var data = score;
	while(data.match(/[０-９]/)){
		for(count = 0; count < char1.length; count++){
			data = data.replace(char1[count], char2[count]);
		}
	}
	score = parseInt(data);

	//	scが空の場合は、メッセージを表示して、入力を促す
	if(sc.value ==""){
		alert("スコアを入力してください");
		reset();
	}

	//	r1が空の場合に、scで取得した値を入力
	else if(r1.value ==""){
		document.getElementById("r1").value = score;
		reset();
	}
	//	r2が空の場合に、r1とscの値を入力
	else if(r2.value ==""){
		score1 = parseInt(document.getElementById("r1").value);	
		document.getElementById("r2").value　= score + score1;
		reset();
	}
	//	r3が空の場合に、r2とscの値を入力
	else if(r3.value ==""){
		score2 = parseInt(document.getElementById("r2").value);
		document.getElementById("r3").value　= score + score2;
		reset();
	}
	//	r4が空の場合に、r3とscの値を入力
	else if(r4.value ==""){
		score3 = parseInt(document.getElementById("r3").value);
		document.getElementById("r4").value = score + score3;
		reset();
	}
	//	r5が空の場合に、r4とscの値を入力
	else if(r5.value ==""){
		score4 = parseInt(document.getElementById("r4").value);
		document.getElementById("r5").value = score + score4;
		reset();
	}
	//	r6が空の場合に、r5とscの値を入力
	else if(r6.value ==""){
		score5 = parseInt(document.getElementById("r5").value);
		document.getElementById("r6").value = score + score5;
		reset();
	}
	//	r7が空の場合に、r6とscの値を入力
	else if(r7.value ==""){
		score6 = parseInt(document.getElementById("r6").value);
		document.getElementById("r7").value = score + score6;
		reset();
	}
	//	r8が空の場合に、r7とscの値を入力
	else if(r8.value ==""){
		score7 = parseInt(document.getElementById("r7").value);
		document.getElementById("r8").value = score + score7;
		reset();
		//	ダーツ1本あたりの点を表示する。
		result = parseInt(document.getElementById("r8").value) / 24;
		//	小数点2以下を切り捨てるために、*10して小数点以下を削除し、/10
		result *= 10;
		result = Math.floor(result);
		result /= 10;
		alert("あなたのPPDは"  + result + "です");
	}	

}
</script>
	</head>



	<body onLoad="document.form1.sc.focus()">
		<form onsubmit="return false;" name="form1">
			<fieldset>
				<legend>カウントアップ</legend>
				<p>ラウンドのスコア
				<input type="text" id="sc" name="sc" style="ime-mode: disabled;">
				<input type="button" onClick="ppd();" value="得点を反映する"></p></form>
			<input type="button" value="ゲームをリセットします" onclick="location.reload();">
		</fieldset>
		<fieldset>

			<div style="float:left;"></div>
			<input id="r1" class=cell value="" readonly="readonly">
			<input id="r2" class=cell value="" readonly="readonly">
			<input id="r3" class=cell value="" readonly="readonly">
			<input id="r4" class=cell value="" readonly="readonly"><br>
			<input id="r5" class=cell value="" readonly="readonly">
			<input id="r6" class=cell value="" readonly="readonly">
			<input id="r7" class=cell value="" readonly="readonly">
			<input id="r8" class=cell value="" readonly="readonly">
		</div>
		</field>
	</body>
</html>
